* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    background-color: black;
    color: aliceblue;
}

header {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

h1 {
    font-size: 100px;
}

input {
    margin-bottom: 10px;
}

::selection {
    background-color: white;
    color: black;
}