* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    background-color: black;
    color: aliceblue;
}

header {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

h1 {
    font-size: 100px;
}

input {
    margin-bottom: 10px;
}

::selection {
    background-color: white;
    color: black;
}

/* Added Sidebar styling 10/25/2022 */
#sidebar li {
    font-size: 1.5rem;
    margin-top: 2rem;
}

#sidebar a {
    color: white;
    text-align: center;
}

#sidebar a:hover {
    background-color: aqua;
    color: black;
    padding: 1rem;
    width: 140%;
    text-align: center;
}

#sidebar-header {
    font-size: 4rem;
    margin-bottom: 2rem;
}
/*-----------------------------------------------------------*/
